<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link rel="stylesheet" href="/css/style1.css"/>
</head>
<body>
    <div class="wrapper">
        <h1>Bubbles Animation</h1>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
    </div>
      <nav id="navbar" class="navbar">
        <ul>
             <div id="logo">
        
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/home" style="font-size:32px">Helping Hands</a></h1>
      </div>
          <li><a class="nav-link scrollto " href="/home">Home</a></li>
                <li><a class="nav-link scrollto" href="/login">Login</a></li>
          <li><a class="nav-link scrollto" href="/home#about">About</a></li>
          <li><a class="nav-link scrollto" href="/home#services">Services</a></li>
          <li><a class="nav-link scrollto " href="/home#portfolio">Portfolio</a></li>
          
          
          <li><a class="nav-link scrollto" href="/home#contact">Contact</a></li>
          
          <li><a class="nav-link scrollto" href="/login">Back</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    <h3 id="flash"> {{message}}</h1>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form action="/forget_password" method="post" name="update">
                    <h1>Forget Password</h1>
                    <br>
                    <span>Fill your email</span>
                    <div class="social-container">
                    </div>
                        <input type="text" id="email" name="email" placeholder="email" oninput="emmail()">

                    <p class="valid" id="eemail"></p>
                    <p class="valid" id="wemail"></p>
                   
                    <input id="button1" class="btn" type="submit" value="Send reset link" disabled style="background-color:rgb(57, 56, 56)">
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Hello!</h1><br>
                        <p>"A helping hand can be a ray of sunshine in a cloudy world. So try to be a rainbow in someone's cloud"</p><br>
                        <a href="/login" id="login-star" class="ghost">back to Login</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let f1=1,f3=1;
                        let b = document.getElementById('button1');

           function emmail() {
                let e = document.getElementById('email');
                let flag = 0;
                let x = document.getElementById('eemail');
                if (e.value.length == 0) {
                    x.style.display = "block";
                    document.getElementById('eemail').innerHTML = "Email cannot be empty";
                    flag = 1;
                    f1 = 1;
                } else {
                    document.getElementById('eemail').style.display = "none";
                    f1 = 0;
                }
                if (e.value.substring(e.value.length - 10) != "@gmail.com" && flag == 0) {
                    document.getElementById('wemail').style.display = "block";
                    document.getElementById('wemail').innerHTML = "Invalid Format";
                    f3 = 1;
                } else {
                    document.getElementById('wemail').style.display = "none";
                    f3 = 0;
                }
                if (f1 == 1 || f3 == 1) {
                    b.disabled = true;
                    b.style.backgroundColor = 'rgb(57, 56, 56)';
                    console.log('hi')
                } else {
                    console.log('hii')
                    b.style.backgroundColor = '#2dc997';
                    b.disabled = false;
                }
            }
        </script>
</body>
</html>