<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Helping Hands</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons-->
  <link href="/css/assets/img/favicon.png" rel="icon">
  <link href="/css/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/css/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/css/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/css/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/css/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/css/style3.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/home">Helping Hands</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
         
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="/login">Login or Signup</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome to Helping hands</h1>
      <h2>Helping Hands is a free volunteer conneting system to seek help or to help some one. If you wish to seek help or serve as Volunteer Signup here</h2>
      <a href="/login" class="btn-get-started">Login or Signup</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Few Words About Website</h2>
            <p>
Volunteering can help you make friends, learn new skills, advance your career, and even feel happier and healthier. Learn how to find the right volunteer opportunity for you. This website connects you to volunteers in this world.             </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Volunteering connects you to others.</a></h4>
              <p class="description">One of the more well-known benefits of volunteering is the impact on the community. Volunteering allows you to connect to your community and make it a better place.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Volunteering is good for your mind and body.</a></h4>
              <p class="description">Volunteering keeps you in regular contact with others and helps you develop a solid support system, which in turn protects you against depression.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Volunteering brings fun and fulfillment to your life.
</a></h4>
              <p class="description">Volunteering is a fun and easy way to explore your interests and passions. Doing volunteer work you find meaningful and interesting can be a relaxing, energizing escape from your day-to-day routine of work, school, or family commitments.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Services</h3>
          <p class="section-description">Services provided by Helping Hands</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href="/login"><i class="bi bi-briefcase"></i></a></div>
              <h4 class="title"><a href="/login">Login</a></h4>
              <p class="description">Login and update your details</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><i class="bi bi-card-checklist"></i></a></div>
              <h4 class="title"><a href="">Track Volunteers</a></h4>
              <p class="description">Manage & track volunteers who’ve registered interest in your roles</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><i class="bi bi-bar-chart"></i></a></div>
              <h4 class="title"><a href="">Accepting with complete precaution</a></h4>
              <p class="description">View their profile before inviting them to apply
</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><i class="bi bi-binoculars"></i></a></div>
              <h4 class="title"><a href="">Chatting system</a></h4>
              <p class="description">Choose how you want prospective volunteers to contact you like with chat system</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><i class="bi bi-brightness-high"></i></a></div>
              <h4 class="title"><a href="">Role Searching</a></h4>
              <p class="description">Search for suitable volunteer roles</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><i class="bi bi-calendar4-week"></i></a></div>
              <h4 class="title"><a href="">Advertising</a></h4>
              <p class="description">Advertise your roles by providing your details</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> With this website you can connect different volunteers and seek for help or you can provide your service as volunteer. To know more about it login or signup from here</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="/login">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Volunteers across the world</h3>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Volunteers</li>
              <li data-filter=".filter-card">Help</li>
              <li data-filter=".filter-web">Support</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/css/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Saving Trees</h4>
              <p>Nature</p>
              <a href="/css/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="/home" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/css/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Removing Plastic</h4>
              <p>Nature</p>
              <a href="/css/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="/home" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/css/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Saving Earth</h4>
              <p>Nature</p>
              <a href="/css/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="/home" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/css/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Seeking Help</h4>
              <p>Help</p>
              <a href="/css/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="/home" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/css/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Helping Hands</h4>
              <p>Help</p>
              <a href="/css/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="/home" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/css/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Receiving Help</h4>
              <p>Help</p>
              <a href="/css/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="/home" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
<br><br><br><br><br><br><br><br><!-- End Portfolio Section -->

   

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">Contact details are provided here</p>
        </div>
      </div>


      <div class="container mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info" >
              <div>
                <i class="bi bi-geo-alt"></i>
                <div class="row justify-content-center">
                <p>Indian Institute of Information Technology,Allahabad<br>Prayagraj, Jhalwa 211012</p>
              </div>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <div class="row justify-content-center">
                <p>IIT2021187@iiita.ac.in</p>
                </div>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <div class="row justify-content-center">
                <p>+91 9676751240</p>
                </div>
              </div>
            </div>

            <div class="social-links">
                <div class="row justify-content-center">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

          </div>

         

        </div>

      </div>
    </section><!-- End Contact Section -->
   

   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Group 09</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
       <a href="https://bootstrapmade.com/"></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/css/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/css/assets/vendor/aos/aos.js"></script>
  <script src="/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/css/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/css/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/css/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/css/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/css/assets/js/main.js"></script>

</body>

</html>